body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
  }
}

div#app {
  height: 100%;
  width: 100%;
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}